<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/static/css/base.css'>

        <meta property='og:title' content='Neko in the Shell'>
        <meta property='og:type' content='website'>
        <meta property='og:url' content='https://nekointheshell.com'>
        <meta property='og:image' content='https://nekointheshell.com/static/images/banner.png'>
    </head>


    <body>
        {% include 'header.html' %}
        {% block content %} {% endblock %}
    </body>
</html>
