{% block header %}
    <link rel='stylesheet' href='/static/css/header.css'>
    <section id='header' alt='ASCII art banner spelling "Neko in the Shell"'>
        <section id='banner'>
            <pre><code>
    _   __     __            _          __  __            _____ __         ____
   / | / /__  / /______     (_)___     / /_/ /_  ___     / ___// /_  ___  / / / 
  /  |/ / _ \/ //_/ __ \   / / __ \   / __/ __ \/ _ \    \__ \/ __ \/ _ \/ / / 
 / /|  /  __/ ,&lt; / /_/ /  / / / / /  / /_/ / / /  __/   ___/ / / / /  __/ / /   
/_/ |_/\___/_/|_|\____/  /_/_/ /_/   \__/_/ /_/\___/   /____/_/ /_/\___/_/_/
</code></pre>
        </section>
        <section id='links'>
            <a href='https://github.com/NekointheShell'>Github</a>,
            <a href='https://twitter.com/NekointheShell'>Twitter</a>
        </section>
    </section>
{% endblock %}
